{% extends "base/base.html" %}

{% block page_content %}
    <div class="d-flex flex-row justify-content-between my-3">
        <h2>Authors</h2>
        <a class="mb-2 btn btn-outline-primary" href="{% url 'author_create' %}">Add Author</a>
    </div>
    <ul>
        {% for author in author_list %}
            <li>
                <a href={% url 'author_details' author.pk %}>
                    {{ author.name }}
                </a>
            </li>
        {% empty %}
            <p>U bazi nema niti jednog autora</p>
        {% endfor %}
    </ul>
{% endblock page_content %}